*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: rgb(17, 20, 24);
    text-align: center;
}
.main{
    height: 100vh;
}
.gamecontainer{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameboard{
    height: 60vmin;
    width: 60vmin;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.gamebox{
    height:18vmin;
    width:18vmin;
    border-radius:1rem ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(25, 192, 234, 0.872);
    font-size: 8vmin;
    color: rgba(235, 228, 232, 0.966);
}
.newgamebtn{
    padding: 10px;
    font-size: 20px;
    color: black;
    border-radius: 1rem;
    border: none;
}
.newgamebtn:hover{
    background-color: rgb(174, 170, 170);
}
.restartbtn{
    padding: 10px;
    font-size: 20px;
    color: black;
    border-radius: 1rem;
    border: none;
}
.restartbtn:hover{
    background-color: rgb(173, 170, 170);
}
.messagecontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
#gamemessage{
    color: aliceblue;
    font-size:2rem;
}

.hide{
    display: none;
}
@media(max-width:768px){
    html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
   }
   .gamecontainer{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vmin;
   }
}  .main h1{
    margin-top: 24vmin;
}